.poolPlayer0 {
  color: #5d0315;
}

.poolPlayer1 {
  color: #16045d;
}

.poolPlayer2 {
  color: #2d1e00;
}

.poolPlayer3 {
  color: #002e00
}

.poolPlayerEven {
  color: #5d0315;
}

.poolPlayerOdd {
  color: #16045d;
}

.stretchTitle {
  transform: scaleX(1.1) scaleY(0.9);
  transform-origin: left;
}

.stretchDialog {
  transform: scaleY(0.9);
  transform-origin: left;
  letter-spacing: -50;
}